<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head"></head>
<body>
<!--  <header th:replace = "layout/layout :: header"></header>-->

<div class = "container">

	<h1>Restaurant index</h1>
	<form>
  <div class="form-group">
    <label for="usuario">Email address</label>
    <input type="text" class="form-control" id="inputUsuario" aria-describedby="emailHelp" placeholder="Enter user">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  	<a th:href="@{/usuario/lista}" class="btn btn-primary"><i class="fas fa-file-alt"></i>Ingresar</a>
</form>
	
</div>

<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>