<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head"></head>
<body>
  <header th:replace = "layout/layout :: header"></header>

<div class = "container">

	<h1>Restaurant index</h1>
	<div class="card text-center">
			<div class="card-header">Lista de usuarios</div>
			<div class="card-body">
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">contraseņa</th>
							<th scope="col">idAdmin</th>
							<th scope="col">idConsumidor</th>
							<th scope="col"></th>
						    
						</tr>
					</thead>
					<tbody th:each="usuario: ${usuarios}">
						<tr>
							<th scope="row" th:text="${usuario.id}">1</th>
							<td th:text="${usuario.nombre}">Mark</td>
							<td th:text="${usuario.contraseņa}">Otto</td>
							<!--  <td th:text="${usuario.admin.id}">@mdo</td>
							<td th:text="${usuario.consumidor.id}">@mdo</td>
							-->
							<td>
													
							</td>
						</tr>						
					</tbody>
	</table>
</div>
</div>
</div>
<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>