<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragmen="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Human Resource Project">
	<meta name="author" content="Juan Flores-Moroco">
	
	<title>Restaurant</title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/solid.min.css}">
</head>
<body>
	 <header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-success">
			<a class="navbar-brand" th:href="@{/}"><i class="fas fa-users"></i> HR</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i>Inicio
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/usuario}">
						<i class="fas fa-home"></i> Usuario
					</a></li>

				</ul>
			</div>
		</nav>
	</header>
	
	<div class="container">
		<h1>University</h1>	
	</div>
	<footer th:fragment="footer">
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>		
		<script th:src="@{/js/sweetalert.min.js}"></script>
	</footer>
</body>
</html>